@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --card1-color: hsl(31, 77%, 52%);
    --card2-color: hsl(184, 100%, 22%);
    --card3-color: hsl(179, 100%, 13%); 
}

body {
    background: hsl(0, 0%, 95%);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
}

.container {
    width: 80%;
    max-width: 900px;
    margin: auto;
    margin-top: 85px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 9px;
    overflow: hidden;
}

h1 {
    padding: 30px 0 15px 0;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: -1.5px;
}

p {
    padding: 20px 0 50px 0;
    line-height: 1.9;
    color: hsla(0, 0%, 100%, 0.75);
}

img {
    padding-top: 15px;
}

.card {
    padding: 20px 60px 50px  60px;
    box-sizing: border-box;
}

#card1 {
    background: var(--card1-color); 
}

#card2 {
    background: var(--card2-color);
}

#card3 {
    background: var(--card3-color);
}

#card1 button {
    color: var(--card1-color);
}

#card2 button {
    color: var(--card2-color);
}

#card3 button {
    color: var(--card3-color);
}


button {
    padding: 15px 30px;
    margin-bottom: 20px;
    font-weight: 700;
    border: 1px solid  #fff;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
}

button:hover {
    background: transparent;
    color: #fff !important;
    cursor: pointer;
}

.attribution { 
    padding-top: 20px;
    font-size: 11px;
    text-align: center;
    color: #000; }

.attribution a {
     color: var(--card1-color); 
     text-decoration: none;
    
    }

@media(max-width: 1038px) {
    .card {
        padding: 20px 40px 50px  40px;
        /* width: 80%; */
    }
}

@media(max-width: 821px) {
    .container {
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }
    .card {
        padding: 20px 50px 50px  50px;
        /* width: 80%; */
    }
}